body {
  background-color: #fff6ee;
}

.navbar-default {
  border-bottom: 2px solid Cyan;
}

.navbar-default .navbar-toggle {
  border-color: Cyan;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: White;
}

.navbar-default .navbar-brand {
  padding: 10px 15px;
}

hr {
  border-color: lightgray;
}

.tab-pane {
  background-color: White;
  border-left: 1px solid #dfd7ca;
  border-bottom: 1px solid #dfd7ca;
  border-right: 1px solid #dfd7ca;
  padding: 10px 10px 0;
}